node_modules/
.pnp
.pnp.js
coverage/
.next/
out/
build/
dist/
.DS_Store
*.pem
.env.local
.env.*.local
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea/
.vscode/
*.swp
*.swo
*~
.project
.classpath
.c9/
Thumbs.db
